@page
@model _2inch.Models.Link
@{

	if(!User.Identity.IsAuthenticated) {
		Redirect("/admin/login");
		return;
	}


}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Add Link - Student Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div>
        <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href=" @Url.ActionLink("AddLink", "Admin") ">
                        Add Link
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("AdminPanel", "Admin") ">
                        Edit Links
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("AddUserAdmin", "Admin") ">
                        Add User
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("UserAdmin", "Admin") ">
                        Edit Users
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-danger" href=" @Url.ActionLink("Logout", "Admin") ">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
            <section class="hero add-link">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-centered">
                            <div class="column is-half">
                                @using (Html.BeginForm("AddLinks", "Admin", FormMethod.Post))
                                {
                                    @if (ViewBag.Duple != null)
                                    {
                                        <article class="message is-danger field">
                                            <div class="message-header">
                                                <p>Error</p>
                                            </div>
                                            <div class="message-body">
                                                This short link is already owned by <strong>@ViewBag.Duple.createdBy</strong>
                                            </div>
                                        </article>
                                    }
                                    @if (ViewBag.Error == true)
                                    {
                                        <article class="message is-danger field">
                                            <div class="message-header">
                                                <p>Error</p>
                                            </div>
                                            <div class="message-body">
                                                This short link can not be added!
                                            </div>
                                        </article>
                                    }
                                    @if (ViewBag.NewLink != null)
                                    {
                                        <article class="message is-success field">
                                            <div class="message-header">
                                                <p>Link added</p>
                                            </div>
                                            <div class="message-body">
                                                You have successfully added <strong>@ViewBag.NewLink.shortLink</strong> link!
                                            </div>
                                        </article>
                                        {
                                            ViewBag.NewLink = null;
                                        }
                                    }
                                    <div class="field">
                                        <label class="label">Short link</label>
                                        <div class="control">
                                            @Html.TextBoxFor(M => M.shortLink, new { @class = "input", required = "required", @placeholder = "stdnt.ms/", @id = "shortLink" })
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Long link</label>
                                        <div class="control">
                                            @Html.TextBoxFor(M => M.longLink, new { @class = "input", required = "required", @placeholder = "https://...", @id = "longLink" })
                                        </div>
                                    </div>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button class="button is-link">Submit</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="~/js/index.js"></script>
</body>
</html>