@page
@model _2inch.Models.Auth
@{

	if(!User.Identity.IsAuthenticated) {
		Redirect("/admin/login");
		return;
	}


}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Add User - Student Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div>
        <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href=" @Url.ActionLink("AddLink", "Admin") ">
                        Add Link
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("AdminPanel", "Admin") ">
                        Edit Links
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("AddUserAdmin", "Admin") ">
                        Add User
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("UserAdmin", "Admin") ">
                        Edit Users
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-danger" href=" @Url.ActionLink("Logout", "Admin") ">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
            <section class="hero add-link">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-centered">
                            <div class="column is-half">
                                @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post))
                                {
                                    @if (ViewBag.Duple != null)
                                    {
                                        <article class="message is-danger field">
                                            <div class="message-header">
                                                <p>Error</p>
                                            </div>
                                            <div class="message-body">
                                                This user already exists!
                                            </div>
                                        </article>
                                    }
                                    @if (ViewBag.NewUser != null)
                                    {
                                        <article class="message is-success field">
                                            <div class="message-header">
                                                <p>User added</p>
                                            </div>
                                            <div class="message-body">
                                                You have successfully added user <strong>@ViewBag.NewUser.Name</strong>!
                                            </div>
                                        </article>
                                        {
                                            ViewBag.NewUser = null;
                                        }
                                    }
                                    @if (ViewBag.CanNotAdd != null)
                                    {
                                        <article class="message is-danger field">
                                            <div class="message-header">
                                                <p>Can not add user</p>
                                            </div>
                                            <div class="message-body">
                                                Can not add new user! Maybe you do not have permission?
                                            </div>
                                        </article>
                                        {
                                            ViewBag.CanNotAdd = null;
                                        }
                                    }
                                    <div class="field">
                                        <label class="label">User name ( name.surname )</label>
                                        <div class="control">
                                            @Html.TextBoxFor(M => M.Name, new { @class = "input", required = "required" })
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">User password</label>
                                        <div class="control">
                                            @Html.TextBoxFor(M => M.Pass, new { @class = "input", required = "required" })
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">User permission</label>
                                        <label class="checkbox">Default user - 5, admin - 25, master admin - 50 (Info about users is labeled down)</label>
                                        <div class="control">
                                            @Html.TextBoxFor(M => M.PermissionLevel, new { @class = "input", required = "required" })
                                        </div>
                                    </div>

                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button class="button is-link">Submit</button>
                                        </div>
                                    </div>

                                    <div class="content">
                                            <ul>
                                                <li>Default user
                                                    <ul>
                                                        <li>Create own short link</li>
                                                        <li>Edit own short link</li>
                                                        <li>Delete own short link</li>
                                                    </ul>
                                                </li>
                                                <li>Admin user
                                                    <ul>
                                                        <li><strong>All permissions for default user +</strong></li>
                                                        <li>Show links created by othere users</li>
                                                        <li>Edit links created by other users</li>
                                                        <li>Delete links created by other users</li>
                                                    </ul>
                                                </li>
                                                <li>Master Admin user
                                                    <ul>
                                                        <li><strong>All permissions for admin user +</strong></li>
                                                        <li>Add new users</li>
                                                        <li>Edit existing users</li>
                                                        <li>View existing users</li>
                                                        <li>Delete existing users</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="~/js/index.js"></script>
</body>
</html>