@page
@model _2inch.Models.Link
@using _2inch.Utils;
@using System.Security.Principal;
@using System.Collections.Generic;
@{

	if(!User.Identity.IsAuthenticated) {
		Redirect("/admin/login");
		return;
	}

    _2inch.Models.Link currentEditLink = _2inch.Utils.LocalDatabase.EditSelectedLink.ContainsKey(User.Identity.Name) ? _2inch.Utils.LocalDatabase.EditSelectedLink[User.Identity.Name] : null;
    List<_2inch.Models.Link> links = _2inch.Utils.LocalDatabase.Links.ContainsKey(User.Identity.Name) ? _2inch.Utils.LocalDatabase.Links[User.Identity.Name] : null;
}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Edit Links - Student Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div>
        <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href=" @Url.ActionLink("AddLink", "Admin") ">
                        Add Link
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("AdminPanel", "Admin") ">
                        Edit Links
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-danger" href=" @Url.ActionLink("Logout", "Admin") ">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            @if (currentEditLink != null)
                            {
                                <div class="is-half">
                                    <article class="message is-info field">
                                        <div class="message-header">
                                            <p>Selected link</p>
                                        </div>
                                        <div class="message-body">
                                            You have selected link with id @currentEditLink.id and shortLink stdnt.ms/<strong>@currentEditLink.shortLink</strong>
                                        </div>
                                    </article>

                                    @if (ViewBag.OwnerNotExist != null)
                                    {
                                        <article class="message is-danger field">
                                            <div class="message-header">
                                                <p>Owner transfer</p>
                                            </div>
                                            <div class="message-body">
                                                New owner that you have provided does not exist!
                                            </div>
                                        </article>
                                        {
                                            ViewBag.OwnerNotExist = null;
                                        }
                                    }

                                    <div class="field">
                                        <label class="label">Short link</label>
                                        <div class="control">
                                            <input class="input" type="text" name="shortLinkEdit" placeholder="stdnt.ms/..." id="shortLinkEdit" value="@currentEditLink.shortLink" runat="server" />
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Long link</label>
                                        <div class="control">
                                            <input class="input" type="text" name="longLinkEdit" placeholder="https://..." id="longLinkEdit" value="@currentEditLink.longLink" runat="server" />
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Link owner</label>
                                        <div class="control">
                                            <input class="input" type="text" name="ownerEdit" placeholder="..." id="ownerEdit" value="@currentEditLink.createdBy" runat="server" />
                                        </div>
                                    </div>

                                    <input class="input" type="hidden" id="idEdit" value="@currentEditLink.id" />

                                    <div class="field is-grouped">
                                        <div class="control">
                                            <a id="edit-link" class="button is-link">Edit</a>
                                        </div>

                                        <div class="control">
                                            <a href=" @Url.ActionLink("DiscardEdit", "Admin") " class="button is-danger">Discard</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Edited != null)
                            {
                                <article class="message is-success field">
                                    <div class="message-header">
                                        <p>Edited link</p>
                                    </div>
                                    <div class="message-body">
                                        You have succesfuly edited link @ViewBag.Edited.shortLink
                                    </div>
                                </article>
                                {
                                    ViewBag.Edited = null;
                                }
                            }
                            @if (ViewBag.LinkDeleted != null)
                            {
                                <article class="message is-danger field">
                                    <div class="message-header">
                                        <p>Deleted link</p>
                                    </div>
                                    <div class="message-body">
                                        You have succesfuly deleted link with id @ViewBag.LinkDeleted
                                    </div>
                                </article>
                                {
                                    ViewBag.LinkDeleted = null;
                                }
                            }
                            @if (ViewBag.CanNotEdit != null)
                            {
                                <article class="message is-danger field">
                                    <div class="message-header">
                                        <p>Edit Link</p>
                                    </div>
                                    <div class="message-body">
                                        An error occured while editing link! Maybe you don't have permission to edit this link?
                                    </div>
                                </article>
                                {
                                    ViewBag.CanNotEdit = null;
                                }
                            }
                            @if (ViewBag.DiscardEdit != null)
                            {
                                <article class="message is-info field">
                                    <div class="message-header">
                                        <p>Discard Edit</p>
                                    </div>
                                    <div class="message-body">
                                        You have discarded edit menu.
                                    </div>
                                </article>
                                {
                                    ViewBag.DiscardEdit = null;
                                }
                            }
                            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth add-link">
                                <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>Short Link</th>
                                        <th>Long Link</th>
                                        <th>Created by</th>
                                        <th>Time of creation</th>
                                        <th>Clicked</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (links != null)
                                    {
                                        @foreach (_2inch.Models.Link link in links)
                                        {
                                            <tr>
                                                <th>@link.id</th>
                                                <td>@link.shortLink</td>
                                                <td>@link.longLink</td>
                                                <td>@link.createdBy</td>
                                                <td>@link.creationTime</td>
                                                <td>@link.clicked</td>
                                                <td>
                                                    <a href="@Url.ActionLink("EditSelectedLink", "Admin", new { id = link.id }) " class="button is-info is-outlined">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.ActionLink("DeleteSelectedLink", "Admin", new { id = link.id }) " onclick="return GetConfirmation();" class="button is-danger is-outlined">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-times"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/index.js"></script>

</body>
</html>