@page
@model _2inch.Models.Link
@using _2inch.Utils;
@{

	if(!User.Identity.IsAuthenticated) {
		Redirect("/admin/login");
		return;
	}
}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Edit Links - ŠTC Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div>
        <nav class="navbar is-success is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="http://stcmicrosoft.azurewebsites.net/">
                    <img src="~/images/STCBLACK.png" width="82" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href=" @Url.ActionLink("AddLink", "Admin") ">
                        Add Link
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("AdminPanel", "Admin") ">
                        Edit Links
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-danger" href=" @Url.ActionLink("Logout", "Admin") ">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            @if (LocalDatabase.EditSelectedLink != null) {
                                <div class="is-half">
                                    <article class="message is-info field">
                                        <div class="message-header">
                                            <p>Selected link</p>
                                        </div>
                                        <div class="message-body">
                                            You have selected link with id @LocalDatabase.EditSelectedLink.id and shortLink stdnt.ms/<strong>@LocalDatabase.EditSelectedLink.shortLink</strong>
                                        </div>
                                    </article>
                                    
                                    <div class="field">
                                        <label class="label">Short link</label>
                                        <div class="control">
                                            <input class="input" type="text" name="shortLinkEdit" placeholder="stdnt.ms/..." title="Nickname" id="shortLinkEdit" value="@LocalDatabase.EditSelectedLink.shortLink" runat="server"/>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Long link</label>
                                        <div class="control">
                                            <input class="input" type="text" name="longLinkEdit" placeholder="https://..." title="Nickname" id="longLinkEdit" value="@LocalDatabase.EditSelectedLink.longLink" runat="server"/>
                                        </div>
                                    </div>

                                    <div class="field is-grouped">
                                        <div class="control">
                                            <a id="edit-link" class="button is-link">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Edited != null) {
                                <article class="message is-success field">
                                    <div class="message-header">
                                        <p>Edited link</p>
                                    </div>
                                    <div class="message-body">
                                        You have succesfuly edited link @ViewBag.Edited.shortLink
                                    </div>
                                </article>
                                {
                                    ViewBag.Edited = null;
                                }
                            }
                            @if (ViewBag.LinkDeleted != null) {
                                <article class="message is-danger field">
                                    <div class="message-header">
                                        <p>Deleted link</p>
                                    </div>
                                    <div class="message-body">
                                        You have succesfuly deleted link with id @ViewBag.LinkDeleted
                                    </div>
                                </article>
                                {
                                    ViewBag.LinkDeleted = null;
                                }
                            }
                            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth add-link">
                                <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>Short Link</th>
                                        <th>Long Link</th>
                                        <th>Created by</th>
                                        <th>Time of creation</th>
                                        <th>Clicked</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (_2inch.Models.Link link in LocalDatabase.Links)
                                    {
                                        <tr>
                                            <th>@link.id</th>
                                            <td>@link.shortLink</td>
                                            <td>@link.longLink</td>
                                            <td>@link.createdBy</td>
                                            <td>@link.creationTime</td>
                                            <td>@link.clicked</td>
                                            <td>
                                                <a href="@Url.ActionLink("EditSelectedLink", "Admin", new { id = link.id }) " class="button is-info is-outlined">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-edit"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.ActionLink("DeleteSelectedLink", "Admin", new { id = link.id }) " class="button is-danger is-outlined">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-times"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>