@page
@model _2inch.Models.Link
@using _2inch.Utils;
@using System.Security.Principal;
@using System.Collections.Generic;
@{

	if(!User.Identity.IsAuthenticated) {
		Redirect("/admin/login");
		return;
	}

    _2inch.Models.Auth currentEditUser = _2inch.Utils.LocalDatabase.EditSelectedUser.ContainsKey(User.Identity.Name) ? _2inch.Utils.LocalDatabase.EditSelectedUser[User.Identity.Name] : null;
    List<_2inch.Models.Auth> users = _2inch.Utils.LocalDatabase.Users.ContainsKey(User.Identity.Name) ? _2inch.Utils.LocalDatabase.Users[User.Identity.Name] : null;
}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Edit Users - Student Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div>
        <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href=" @Url.ActionLink("AddLink", "Admin") ">
                        Add Link
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("AdminPanel", "Admin") ">
                        Edit Links
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("AddUserAdmin", "Admin") ">
                        Add User
                    </a>

                    <a class="navbar-item" href=" @Url.ActionLink("UserAdmin", "Admin") ">
                        Edit Users
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-danger" href=" @Url.ActionLink("Logout", "Admin") ">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            @if (ViewBag.CanNotEdit != null)
                            {
                                <article class="message is-danger field">
                                    <div class="message-header">
                                        <p>Edit Link</p>
                                    </div>
                                    <div class="message-body">
                                        An error occured while editing user! Maybe you don't have permission to edit this user?
                                    </div>
                                </article>
                                {
                                    ViewBag.CanNotEdit = null;
                                }
                            }
                            @if (currentEditUser != null)
                            {
                                <div class="is-half">
                                    <article class="message is-info field">
                                        <div class="message-header">
                                            <p>Selected user</p>
                                        </div>
                                        <div class="message-body">
                                            You have selected user <strong>@currentEditUser.Name</strong>
                                        </div>
                                    </article>

                                    <div class="field">
                                        <label class="label">User email</label>
                                        <div class="control">
                                            <input class="input" type="text" id="userEmailEdit" value="@currentEditUser.Name" runat="server" />
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Permission level</label>
                                        <div class="control">
                                            <input class="input" type="text" id="userPermissionEdit" value="@currentEditUser.PermissionLevel" runat="server" />
                                        </div>
                                    </div>

                                    <input class="input" type="hidden" id="idEdit" value="@currentEditUser.id" />

                                    <div class="field is-grouped">
                                        <div class="control">
                                            <a id="edit-user" class="button is-link">Edit</a>
                                        </div>

                                        <div class="control">
                                            <a href=" @Url.ActionLink("DiscardUserEdit", "Admin") " class="button is-danger">Discard</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Edited != null)
                            {
                                <article class="message is-success field">
                                    <div class="message-header">
                                        <p>Edited user</p>
                                    </div>
                                    <div class="message-body">
                                        You have successfully edited user @ViewBag.Edited.Name
                                    </div>
                                </article>
                                {
                                    ViewBag.Edited = null;
                                }
                            }
                            @if (ViewBag.UserDeleted != null)
                            {
                                <article class="message is-danger field">
                                    <div class="message-header">
                                        <p>Deleted user</p>
                                    </div>
                                    <div class="message-body">
                                        You have successfully deleted user with id @ViewBag.UserDeleted
                                    </div>
                                </article>
                                {
                                    ViewBag.UserDeleted = null;
                                }
                            }
                            @if (ViewBag.DiscardEdit != null)
                            {
                                <article class="message is-info field">
                                    <div class="message-header">
                                        <p>Discard Edit</p>
                                    </div>
                                    <div class="message-body">
                                        You have discarded edit menu.
                                    </div>
                                </article>
                                {
                                    ViewBag.DiscardEdit = null;
                                }
                            }
                            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth add-link">
                                <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>User email</th>
                                        <th>User permission</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (users != null)
                                    {
                                        @foreach (_2inch.Models.Auth user in users)
                                        {
                                            <tr>
                                                <th>@user.id</th>
                                                <td>@user.Name</td>
                                                <td>@user.PermissionLevel</td>
                                                <td>
                                                    <a href="@Url.ActionLink("EditSelectedUser", "Admin", new { id = user.id }) " class="button is-info is-outlined">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.ActionLink("DeleteSelectedUser", "Admin", new { id = user.id }) " onclick="return GetConfirmation();" class="button is-danger is-outlined">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-times"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/index.js"></script>

</body>
</html>